<div id="header">
    <!--
    <a href="index.html">
        <img src="images/lablogo.jpg" alt="Lab Logo" id="logo-img">
    </a> 
    -->
    <h1><a href="index.html" id="logo">Computational Intelligence, Control &amp; Information Lab</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="people.html">People</a></li>
            <li><a href="research.html">Research</a></li>
            <li><a href="publications.html">Publications</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</div>